
        <div aria-label="form" tabindex="0" class="focus:outline-none xl:w-12/12 w-full px-8 bg-gray-200 pt-8">
           
            <div class="xl:px-24">

                <!-- Learner Form -->
                <form [formGroup]="courseForm">
                      <!-- STEP 1 Learner Personal info -->
                <div class="mt-16 lg:flex justify-between border-b border-gray-200 p-16 bg-white">
                    <div class="w-80">
                        <div class="flex items-center">
                            <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Subject Detailed Info</h1>
                        </div>
                        <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Please ensure to fill all the fields below. You can always come back to make updates on any subject added to the system. Info entered here will be used everywhere in the system</p>
                    </div>
                    <div>
                        <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="title" >Subject Title</label>
                                <input type="text" formControlName="title" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="title" placeholder="Mathematics" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="short_form">Short Form</label>
                                <input type="text" formControlName="short_form" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="short_form" placeholder="Maths" />
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="credit_value">Coefficient</label>
                                <input type="number" formControlName="credit_value" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="creditValue" placeholder="2" max="4" min="1"/>
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="pass_mark" >Pass Mark</label>
                                <input type="number" formControlName="pass_mark" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="pass_mark" placeholder="10/20" max="20" min="10"/>
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-full">
                                <label class="text-sm leading-none text-gray-800" id="place-of-birth">Description</label>
                                <textarea name="description" formControlName="description" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="place-of-birth" id="" cols="50" rows="10"></textarea>
                            </div>
                        </div>

                    </div>
                </div>

               
                <!-- PREVIEW Learner info-->
                <div class="md:col-span-5 text-right py-8" *ngIf="courseForm.valid">
                    <div class="inline-flex items-end">
                      <button (click)="createCourse()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                    </div>
                  </div>
                </form>

            </div>
        </div>