

<app-data-table 
[tableData]="learners" 
[tableHeadings]="headings"
[formFields]="formFields" 
[selectOptions]="selectOptions"
[options]="options"
(createOrEdit)="createOrEdit($event)"
(delete)="delete($event)"
 >

</app-data-table>



<!-- <section class="flex items-center justify-center py-8 px-2">
    <div class="w-full sm:px-6">
        <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg">
            <div class="sm:flex items-center justify-between">
                <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">Learners</p>
                <div *CanPerformAction="routes.api.learner.add">
                    <a [routerLink]="routePath.add" class="inline-flex sm:ml-3 mt-4 sm:mt-0 items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                        <p class="text-sm font-medium leading-none text-white">Admit New Learner</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto">
            <table class="w-full whitespace-nowrap">
                <thead>
                    <tr class="h-16 w-full text-lg leading-none text-gray-500">
                        <th class="text-left pl-4">Name</th>
                        <th class="text-left pl-12">Contacts</th>
                        <th class="text-left pl-12">Address</th>
                        <th class="text-left pl-20">Gender</th>
                        <th class="text-left pl-20">Admitted Date</th>
                        <th class="text-left pl-16">Courses</th>
                    </tr>
                </thead>
                <tbody class="w-full">
                    <tr *ngFor="let learner of learners" class="h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                        <td class="pl-4 cursor-pointer">
                            <div class="flex items-center">
                                <div class="w-10 h-10">
                                    <img class="w-full h-full" [src]="learner?.profile_photo" />
                                </div>
                                <div class="pl-4">
                                    <p class="font-medium">{{learner?.username}}</p>
                                    <p class="text-xs leading-3 text-gray-600 pt-2">{{learner?.first_name}} {{learner?.last_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="pl-12">
                            <p class="text-sm font-medium leading-none text-gray-800">{{learner?.email}}</p>
                             <p class="text-xs leading-3 text-gray-600 mt-2">{{learner?.contact_phone}}</p>
                        </td>
                        <td class="pl-12">
                            <p class="font-medium">{{learner?.address ?? "Not set"}}</p>
                           
                        </td>
                        <td class="pl-20">
                            <p class="font-medium">{{learner?.gender}}</p>
                           
                        </td>
                        <td class="pl-20">
                            <p class="font-medium">{{learner?.createdAt | date}}</p>
                           
                        </td>
                        <td class="pl-16">
                            <div class="flex items-center">
                                <p>{{learner?.courses?.length ?? "None"}}</p>
                               
                            </div>
                        </td>
                        <td class="px-7 2xl:px-0">
                            <button (click)="dropDownList===1?dropDownList=0:dropDownList=1" class="focus:outline-none pl-7">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M4.16667 10.8334C4.62691 10.8334 5 10.4603 5 10.0001C5 9.53984 4.62691 9.16675 4.16667 9.16675C3.70643 9.16675 3.33334 9.53984 3.33334 10.0001C3.33334 10.4603 3.70643 10.8334 4.16667 10.8334Z" stroke="#A1A1AA" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M10 10.8334C10.4602 10.8334 10.8333 10.4603 10.8333 10.0001C10.8333 9.53984 10.4602 9.16675 10 9.16675C9.53976 9.16675 9.16666 9.53984 9.16666 10.0001C9.16666 10.4603 9.53976 10.8334 10 10.8334Z" stroke="#A1A1AA" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M15.8333 10.8334C16.2936 10.8334 16.6667 10.4603 16.6667 10.0001C16.6667 9.53984 16.2936 9.16675 15.8333 9.16675C15.3731 9.16675 15 9.53984 15 10.0001C15 10.4603 15.3731 10.8334 15.8333 10.8334Z" stroke="#A1A1AA" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                            <div *ngIf="dropDownList===1" class="bg-white shadow w-24 absolute z-30 right-0 mr-6">
                                <div class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                    <p>Edit</p>
                                </div>
                                <div class="text-xs w-full hover:bg-indigo-700 py-4 px-4 cursor-pointer hover:text-white">
                                    <p>Delete</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
  </section> -->