<div class="mb-4">
    <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
        <p class="font-bold text-md text-black dark:text-white">
            Notification Messages
        </p>
        <ul>
            <li *ngFor="let message of messages" class="flex items-center my-6 space-x-2">
                <a href="#" class="block relative">
                    <img alt="{{message?.sender?.name}}'s photo" src="{{message?.sender?.photo}}" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                </a>
                <div class="flex flex-col">
                    <span class="text-sm text-gray-900 font-semibold dark:text-white ml-2">
                       {{message?.sender?.name}}
                    </span>
                    <span class="text-sm text-gray-400 dark:text-gray-300 ml-2">
                        {{message?.subject}}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
