
        <div aria-label="form" tabindex="0" class="focus:outline-none xl:w-12/12 w-full px-8 bg-gray-200">
            <div class="bg-gray-200 py-12 flex flex-wrap items-center justify-center">
                <div class="w-52 h-16 relative md:mt-0 mt-4">
                    <img src="https://i.ibb.co/DwNs7zG/Steps.png" alt="step1" class="w-full h-full" />
                    <div class="absolute w-full flex flex-col px-6 items-center justify-center inset-0 m-0">
                        <p tabindex="0" class="focus:outline-none w-full text-sm font-medium leading-4 text-white">Personal information</p>
                        <p tabindex="0" class="focus:outline-none w-full text-xs mt-1 leading-none text-white">Personal pupil info</p>
                    </div>
                </div>
                <div class="w-52 h-16 relative md:mt-0 mt-4">
                    <img src="https://i.ibb.co/wNZ4nzy/Steps2.png" alt="step2" class="w-full h-full" />
                    <div class="absolute w-full flex flex-col px-6 items-center justify-center inset-0 m-0">
                        <p tabindex="0" class="focus:outline-none w-full text-sm font-medium leading-4 text-indigo-800">Address</p>
                        <p tabindex="0" class="focus:outline-none w-full text-xs mt-1 leading-none text-indigo-800">Learner address</p>
                    </div>
                </div>
                <div class="w-52 h-16 relative md:mt-0 mt-4">
                    <img src="https://i.ibb.co/c2k4Gbr/Steps3.png" alt="step3" class="w-full h-full" />
                    <div class="absolute w-full flex flex-col px-6 items-center justify-center inset-0 m-0">
                        <p tabindex="0" class="focus:outline-none w-full text-sm font-medium leading-4 text-gray-700">Onboarding</p>
                        <p tabindex="0" class="focus:outline-none w-full text-xs mt-1 leading-none text-gray-500">Get accquainted</p>
                    </div>
                </div>
                <div class="w-52 h-16 relative lg:mt-0 mt-4">
                    <img src="https://i.ibb.co/XCdjrhm/Steps4.png" alt="step4" class="w-full h-full" />
                    <div class="absolute w-full flex flex-col px-6 items-center justify-center inset-0 m-0">
                        <p tabindex="0" class="focus:outline-none w-full text-sm font-medium leading-4 text-gray-700">Getting Started</p>
                        <p tabindex="0" class="focus:outline-none w-full text-xs mt-1 leading-none text-gray-500">Resources to begin</p>
                    </div>
                </div>
            </div>
            <div class="xl:px-24">
                <div class="px-5 py-4 bg-gray-200 rounded-lg flex items-center justify-between mt-7">
                    <div class="flex items-center">
                        <div tabindex="0" class="focus:outline-none flex-shrink-0">
                           <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/form_layout_wizard2-svg1.svg" alt="lock">
                        </div>

                        <p tabindex="0" class="focus:outline-none text-sm text-gray-800 pl-3">We take privacy issues seriously. You can be sure that your personal data is securely protected.</p>
                    </div>
                    <button  aria-label="Close this banner" class="md:block hidden focus:outline-none focus:ring-2 focus:ring-gray-700 rounded">
                       <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/form_layout_wizard2-svg2.svg" alt="cross">
                    </button>
                </div>

                <!-- Learner Form -->
                <form [formGroup]="learnerForm">
                      <!-- STEP 1 Learner Personal info -->
                <div class="mt-16 lg:flex justify-between border-b border-gray-200 p-16 bg-white">
                    <div class="w-80">
                        <div class="flex items-center">
                            <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Personal Information</h1>
                        </div>
                        <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the section could go here and a brief description of how this might be used.</p>
                    </div>
                    <div>
                        <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="firstName" >First name</label>
                                <input type="text" formControlName="first_name" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="firstName" placeholder="John" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="lastName">Last name</label>
                                <input type="text" formControlName="last_name" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="lastName" placeholder="Doe" />
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="gender">Gender</label>
                                <input type="text" formControlName="gender" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="gender" placeholder="Male or Female" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="date-of-birth" >Date of birth</label>
                                <input type="date" formControlName="date_of_birth" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="date-of-birth" placeholder="23-03-2020" />
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="place-of-birth">Place Of Birth</label>
                                <input type="text" formControlName="place_of_birth" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="place-of-birth" placeholder="Place of birth" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <!-- <label class="text-sm leading-none text-gray-800" id="academic-level" >Academic Level</label> -->
                                <!-- <input type="text" formControlName="academic_level" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="academic-level" placeholder="Class 7" /> -->
                                <app-select-dropdown [selectConfig]="levelSelectConfig" [selectData]="academicLevels" [selectOnce]="isLevelSelected" (change)="selectedLevels($event)"></app-select-dropdown>
                            </div>
                        </div>

                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="academic-level" >Passport size Photo</label>
                                <input type="file" id="profile_photo" (change)="fileHandler($event)" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="academic-level" placeholder="Class 7" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="address" >Address</label>
                                <input type="text" formControlName="address" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="address" placeholder="Meganga" />
                            </div>
                        </div>

                        <div class="md:w-64 md:ml-24 md:mt-0 mt-4">
                         <img [src]="selectedFile | safeImageUrl" alt="" srcset="">
                      </div>

                    </div>
                </div>

                <!-- STEP2 Parent's info  -->
                <div class="mt-16 lg:flex justify-between border-b border-gray-200 p-16 mb-4 bg-white">
                    <div class="w-80">
                        <div class="flex items-center">
                            <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Parents</h1>
                        </div>
                        <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the section could go here and a brief description of how this might be used.</p>
                    </div>
                    <div>
                        <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="fathers-name">Father's Name</label>
                                <input type="text" formControlName="fathers_name" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="fathers-name" placeholder="Enter your Father's name" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="securityCode">Mother's Name</label>
                                <input type="text" formControlName="mothers_name" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="securityCode" placeholder="Enter your Mother's name" />
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="fathers-phone">Father's Phone</label>
                                <input type="tel" formControlName="fathers_phone" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"  aria-labelledby="fathers-phone" placeholder="237-675455861" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="mothers-phone">Mother's Phone</label>
                                <input type="tel" formControlName="mothers_phone" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="mothers-phone" placeholder="237-675455860" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Step3 Guardian info  -->
                <div class="mt-16 lg:flex justify-between border-b border-gray-200 p-16 mb-4 bg-white">
                    <div class="w-80">
                        <div class="flex items-center">
                            <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Guardian</h1>
                        </div>
                        <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Information about the section could go here and a brief description of how this might be used.</p>
                    </div>
                    <div>
                        <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="guardian-name">Guardian's Name</label>
                                <input type="text" formControlName="guardians_name" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="guardian-name" placeholder="Enter your Guardian's name" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="guardians-phone">Phone</label>
                                <input type="tel" formControlName="guardians_phone" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="guardians-phone" placeholder="237-675455861"/>
                            </div>
                        </div>
                        <div class="md:flex items-center lg:ml-24 mt-8">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="guardian-address">Guardian's Address</label>
                                <input type="text" formControlName="guardians_address" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800"  aria-labelledby="guardian-address"  placeholder="Enter your Guardian's Phone"/>
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="guardian-email">Guardian's Email</label>
                                <input type="email" formControlName="guardians_email" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="guardian-email" placeholder="email@person.com" />
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- PREVIEW Learner info here -->
                <!-- <div class="mt-16 lg:flex justify-between border-b border-gray-200 p-16 mb-4 bg-white">
                    <div class="w-80">
                        <div class="flex items-center">
                            <h1 tabindex="0" class="focus:outline-none text-xl font-medium pr-2 leading-5 text-gray-800">Preview</h1>
                        </div>
                        <p tabindex="0" class="focus:outline-none mt-4 text-sm leading-5 text-gray-600">Please carefully check the informations below and ensure everything is perfectly entered</p>
                    </div>
                    <div>
                        <div class="md:flex items-center lg:ml-24 lg:mt-0 mt-4">
                            <div class="md:w-64">
                                <label class="text-sm leading-none text-gray-800" id="fathers-name">Father's Name</label>
                                <input type="text" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="fathers-name" placeholder="Enter your Father's name" />
                            </div>
                            <div class="md:w-64 md:ml-12 md:mt-0 mt-4">
                                <label class="text-sm leading-none text-gray-800" id="securityCode">Mother's Name</label>
                                <input type="text" tabindex="0" class="w-full p-3 mt-3 bg-gray-200 border rounded border-gray-200 focus:outline-none focus:border-gray-600 text-sm font-medium leading-none text-gray-800" aria-labelledby="securityCode" placeholder="Enter your Mother's name" />
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="md:col-span-5 text-right py-8">
                    <div class="inline-flex items-end">
                      <button (click)="createLearner()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                    </div>
                  </div>
                </form>

            </div>
        </div>