.bg-img{
    background-image: linear-gradient(to right, rgb(15 8 20 / 61%), rgb(28 108 174 / 72%)),url("../../../../../assets/img/undraw_exams_g-4-ow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}