/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables";
@import "./assets/scss/css/main";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: 0;
  appearance: none;
}
html {
  font-size: 18px;
}
body {
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
  background: $background;
}

.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: rgb(241, 131, 4);
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: rgb(241, 131, 4);
}
